/* =Menu Version 2
-------------------------------------------------------------- */

.menu-wrap-2{
    float: right;
}

.menu-wrap-2 ul{
    padding:0;
    margin-bottom:0; 
}

.menu-wrap-2 ul li{
	position: relative;
    display: inline-block;
    font-size: 14px;
    padding: 0 22px;
    text-transform: uppercase;
}

.menu-wrap-2 ul li a{
    color: #fff;
    letter-spacing: 2px;
}
.menu-wrap-2 ul li a:hover{
    color: #7CC0EE;
    letter-spacing: 2px;
}

.menu-wrap-2 ul.sub-menu li {
    display: block;
    padding: 8px;
    padding-top: 10px;
}

.menu-wrap-2 ul.sub-menu li a{
    line-height: normal;
}

